.box {
    /* display: flex;
    flex-direction: column; */
    /* color: black; */
    background-color: white;
    /* width: 50%; */
    padding: 15px;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* background: transparent; */
    /* padding: 7px 10px 7px 55px; */
    border: 1px solid #707070;
}

.outer-box {
    display: flex;
    flex-direction: row;
}